<% include partials/header %>
<div class = "container">
<header class = "jumbotron">
    <h1>Welocme to YelpCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
</header>


<% campgrounds.forEach(function(campground){ %>
<div>
<h4> <%= campground.name %></h4>
<img src = "<%=campground.image %>"> 
</div>
<% }); %>

</div>
<% include partials/footer %>